.forgot_password_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
}
.forgot_password_container h2 {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.form_forget_password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.form_forget_password input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.forgot_password_container .btn_sendCode {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #31572c;
  color: white;
  cursor: pointer;
}
.forgot_password_container a {
  width: 100%;
  color: black;
  justify-self: flex-end;
}
.err_msg_forget_password {
  color: red;
  margin: 0;
  text-align: center;
  margin-top: 5px;
}
.input_code_forget_pass {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_code_forget_pass form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  column-gap: 20px;
}
.input_code_forget_pass form input {
  width: 80%;
  height: 30px;
  background-color: #fff;
  border: none;
  padding: 10px;
}
.input_code_forget_pass form button {
  width: 20%;
  height: 30px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: ease-out 0.2s;
}
.input_code_forget_pass form button:hover {
  background-color: black;
  color: white;
}
.btn_resend_code_forget_password {
  background-color: #fff;
  margin-top: 5px;
  font-size: 18px;
  border-width: 0px;
  padding: 10px;
  border-radius: 5px;
}
.btn_resend_code_forget_password:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.reset_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
  width: 30%;
}
.reset_password form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reset_password form div {
  width: 100%;
}
.reset_password form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.reset_password form p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
.btn_reset_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.btn_reset_password button {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.input_container_reset_password {
  position: relative;
}
.reset_password form .btn_see {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: #fff;
  border-width: 0px;
  cursor: pointer;
}
