.category-cart {
  height: 150px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.category-cart-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: none;
}
.category-cart:hover {
  border: 1px solid #000000; /* adjust this as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* adjust this as needed */
  border-radius: 10px;
}
