.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.form_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-color: black;
  border-radius: 8px;
  border-width: 1px;
  justify-content: center;
  align-items: center;
}
.form_container input {
  width: 400px;
  height: 28px;
  padding: 10px;
  border-radius: 2px;
  border-width: 1px;
  border-color: black;
}
.form_container button {
  width: 420px;
  height: 45px;
  padding: 2px;
  border-radius: 6px;
  background-color: #31572c;
  border-width: 0;
  color: white;
  font-size: larger;
  font-weight: 200;
}
.form_container button:hover {
  background-color: #4caf50;
  cursor: pointer;
}
.helo {
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 0px;
}
.err_msg_logIn {
  color: red;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}
.input_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.forgot_password {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: black;
}
.forgot_password a {
  color: black;
}
